In [2]:
str1='hai how are you'
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [3]:
# now we having list of elements are there
# we want to join
l1

['hai', 'how', 'are', 'you']

In [8]:
' '.join(l1) # concatination and join both are same

'hai how are you'

In [14]:
names=['ramesh','suresh','satesh']
age=[20,25,30]

for i in range(len(names)):
               print(names[i],age[i])

ramesh 20
suresh 25
satesh 30

$Zip$

In [4]:
names=['ramesh','suresh','satesh']
age=[20,25,30]

for i,j in zip(names,age):
    print(f'{i} age is {j}')

ramesh age is 20
suresh age is 25
satesh age is 30

In [ ]:
names=['ramesh','suresh','satesh']
age=[20,25,30]

- if both are together why two lists

In [ ]:
{<key>:<value>}

In [19]:
d1={'ramesh':20,'suresh':25,'satesh':30}
d1

#ramesh,suresh,satesh are keys
#20,25,30
#key values pair together

{'ramesh': 20, 'suresh': 25, 'satesh': 30}

In [21]:
type(d1)

dict

In [23]:
d2={20:'ramesh',25:'suresh',30:'satesh'}
d2

{20: 'ramesh', 25: 'suresh', 30: 'satesh'}

In [25]:
d3={20:25}
d3

{20: 25}

In [27]:
d4={'$':30}    
d4

{'$': 30}

In [36]:
d4={$:20} #fail
d4

# special charactr should not be key

SyntaxError: invalid syntax (188152440.py, line 1)

In [29]:
d5={'names':['r','s','a']}
d5
# list can be a value

{'names': ['r', 's', 'a']}

In [34]:
d6={['r','s','a']:'names'}  
d6                                      # list cannot be key

TypeError: unhashable type: 'list'

In [33]:
d7={('r','s','a'):'names'}
d7

{('r', 's', 'a'): 'names'}

In [37]:
d8={'names':('r','s','a')}
d8

{'names': ('r', 's', 'a')}

In [39]:
d9={('i','n','d'):('r','s','a')}
d9

{('i', 'n', 'd'): ('r', 's', 'a')}

In [46]:
d2={'ramesh':20,'ramesh':25}
d2
# duplicate keys are not allowed

{'ramesh': 25}

In [49]:
d={'rames':20,'ramesh':20}
max(d)

'ramesh'

In [ ]:
- max 
- min
- len
- sum

In [44]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
max(d1)

# we have to see the keys in this case

'suresh'

In [50]:
d2={20:'ramesh',25:'suresh',30:'satesh'}
max(d2)

30

In [53]:
d2={30:'mohan','mani':25}
max(d2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [56]:
print(max([20,30,25]))
print(max(['m','c','a']))
print(max([25,'a']))

30
m

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
print(min(d1))
print(len(d1))
print(sum(d1))

In [66]:
d2={20:'ramesh',25:'suresh',30:'satesh'}
print(min(d2))
print(len(d2))
print(sum(d2))

20
3
75

In [63]:
sorted(d1)

['ramesh', 'satesh', 'suresh']

In [65]:
for i in reversed(d1):
    print(i)

satesh
suresh
ramesh

In [2]:
d2={20:'mani','mohan':30}
print(max(d2))
print(min(d2))
print(sum(d2))
print(len(d2))

TypeError: '>' not supported between instances of 'str' and 'int'

$concatenation$

In [10]:
d1={'ramesh':20}
d2={'suresh':25}
print(d1+d2)
print(d1*d2)    # it is not possible in this case

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

$in$

In [11]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
#keys are important
print('ramesh'in d1)
print(20 in d1)

True
False

In [12]:
for i in d1:
    print(i)

ramesh
suresh
satesh

$indexing$

In [18]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
#d1[0]  error 
#normal index will not works for dictionary 

#if u want retrive the value ,by using keys we can get 
d1['ramesh']
d1['suresh']
d1['satesh']

for i in d1:
    print(i,d1[i])

ramesh 20
suresh 25
satesh 30

In [19]:
names=['ramesh','suresh','satesh']
age=[20,25,30]

for i,j in zip(names,age):
    print(f'{i} age is {j}')

ramesh age is 20
suresh age is 25
satesh age is 30

In [22]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
for i in d1:
    print(f'{i}age is {d1[i]}')

rameshage is 20
sureshage is 25
sateshage is 30

In [23]:
d1={'ramesh': 20, 'suresh': 25, 'satesh': 30}
for i in d1:
    print(i)  #it will give only keys
for i in d1:
    print(i,d1[i]) #it will gives keys and values

ramesh
suresh
satesh
ramesh 20
suresh 25
satesh 30

In [36]:
d1,l1,s1={},[],''
s1='a'
s1=s1+'b'
s1=s1+'c'
s1

'abc'

In [31]:
l1=[]
l1.append(10)
l1.append(20)

[10, 20]

In [40]:
d1={}
d1['EVEN']=[20,30,60]
d1['ODD']=[21,31,61]
d1

{'EVEN': [20, 30, 60], 'ODD': [21, 31, 61]}

In [41]:
d1={}
name=input('enter the name:')
city=input('enter the city:')
age=eval(input('enter the age:'))
d1['NAME']=name
d1['CITY']=city
d1['AGE']=age

enter the name:mani
enter the city:bvrm
enter the age:20

In [ ]:
#wap ask the user genereate 10 random numbers 
#find the even number and odd number
#

In [52]:
import random
e_l=[]
o_l=[]
d1={}
for i in range(10):
    num=random.randint(10,100)
    if num%2==0:
        e_l.append(num)
    else:
        o_l.append(num)
d1['even']=e_l
d1['odd']=o_l
d1

{'even': [26, 42, 38, 44, 14, 94], 'odd': [99, 75, 73, 93]}

In [83]:
s1='hello how  how are you,hello how im good ,hello how what are you doing'

#o\p={'hello':3,'how':=4}
l1=s1.split()   # list of words
l2=[]
d1={}
for i in l1:      #iteratir through list
    if i not in l2:
        d1[i]=l1.count(i)  #key=i values l1.count(i)
        l2.append(i)
d1

{'hello': 1,
 'how': 4,
 'are': 2,
 'you,hello': 1,
 'im': 1,
 'good': 1,
 ',hello': 1,
 'what': 1,
 'you': 1,
 'doing': 1}

In [85]:
d1={'fruites':['apple','banana']}
d1['fruites'][1]

'banana'

In [91]:
d1={'fruites':[{'apple':50},{'banana':20}]}
d1['fruites'][1]['banana']

20

In [98]:
d1={'fruites':[{'apple':[50,150,300]},{'banana':20}]}
d1['fruites'][0]['apple'][2]

300

In [103]:
d1={'fruites':
    [{'apple':[{50:'normal',
                150:'average',
                300:'good'}]},
     {'banana':20}]}
d1['fruites'][0]['apple'][0][150]

'average'

In [ ]:
d1={'fruites':
   [{'apple'}]}

$methods$

In [104]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

$keys-values-item$

In [109]:
d1={'ramesh':20,'suresh':25,'mani':27}
print(d1.keys())
print(d1.values())
print(d1.items())

dict_keys(['ramesh', 'suresh', 'mani'])
dict_values([20, 25, 27])
dict_items([('ramesh', 20), ('suresh', 25), ('mani', 27)])

In [112]:
d1.keys() # to check the type of output
type(d1.keys())  
#so conver the dict_keys type to list type

dict_keys

In [115]:
list(d1.keys())[0].upper()

'RAMESH'

$clear-copy-get-pop-popitem$

In [127]:
d1={'ramesh':20,'suresh':25,'mani':27}
print(d1.clear())
d1

None

{}

In [203]:
d1={'ramesh':20,'suresh':25,'mani':27}
d2=d1.copy()
d2

{'ramesh': 20, 'suresh': 25, 'mani': 27}

In [197]:
d1={'ramesh':20,'suresh':25,'mani':27}
d1.get('ramesh')

20

In [198]:
d=d1.pop('mani')
d

27

In [204]:
d2.popitem()
d2

{'ramesh': 20, 'suresh': 25}

In [200]:
d1['ramesh']  #by reference as a key you can get the value

20

$update$

In [206]:
d1={'ramesh':20}
d2={'suresh':25}
d1.update(d2)
d1

{'ramesh': 20, 'suresh': 25}

In [207]:
d1={'ramesh':20}
d2={'suresh':25}
d2.update(d1)
d2

{'suresh': 25, 'ramesh': 20}