In [ ]:
- HOW TO READ 
- HOW MANY WAYS WE CAN REPRESENT 
- TYPE
- LEN
- MAX
- MIN
- SORTED
- REVERSED
- CONCATINATION
- IN
- INDEX
- FOR LOOP ITERATION 
- MUTABLE-IMMUTABLE
- SLICEING
- METHODS

In [ ]:
strings represents quotes
str=''

In [3]:
l1=[1,2,3]
l1

[1, 2, 3]

In [4]:
type(l1)

list

In [5]:
l2=['apple','banana','cherry']
l2

['apple', 'banana', 'cherry']

In [6]:
l3=[1,2,3,'a','b']
l3

[1, 2, 3, 'a', 'b']

In [8]:
l4=[1,2,3,'a','b','c','true',10.9,20+30j]
l4

[1, 2, 3, 'a', 'b', 'c', 'true', 10.9, (20+30j)]

In [10]:
l5=[100,100,100]
l5

[100, 100, 100]

In [26]:
l6=[1,2,3,['a','b']]
l6

[1, 2, 3, ['a', 'b']]

In [16]:
l7=[_]
l7   # it will comes in list in lists when it is

[[[[[1, 2, 3, ['a', 'b']]]]]]

- list in notting but array of elements
- that elements can be amy data type
- hetrogeneous
- list can extend with any values
- list in list possible
- list of underscore ,is notting but list in list

In [20]:
print(l1)
print(len(l1))
print(min(l1))
print(max(l1))
print(sum(l1))

[1, 2, 3]
3
1
3
6

In [21]:
print(l2)
print(len(l2))  
print(min(l2))
print(max(l2))
print(sum(l2))

['apple', 'banana', 'cherry']
3
apple
cherry

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [22]:
print(l3)
print(len(l3))
print(min(l3))
print(max(l3))
print(sum(l3))

[1, 2, 3, 'a', 'b']
5

TypeError: '<' not supported between instances of 'str' and 'int'

In [23]:
print(l4)
print(len(l4))
print(min(l4))
print(max(l4))
print(sum(l4))

[1, 2, 3, 'a', 'b', 'c', 'true', 10.9, (20+30j)]
9

TypeError: '<' not supported between instances of 'str' and 'int'

In [24]:
print(l5)
print(len(l5))
print(min(l5))
print(max(l5))
print(sum(l5))

[100, 100, 100]
3
100
100
300

In [27]:
sorted(l1)
#by default reverse=false
#which means accending order

[1, 2, 3]

In [30]:
#if you want to do decending order
# reverse=True
sorted(l1,reverse=True)

[3, 2, 1]

In [35]:
print(sorted(l2))
print(sorted(l2,reverse=True))

['apple', 'banana', 'cherry']
['cherry', 'banana', 'apple']

In [40]:
print(sorted(l3))

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
print(sorted(l3,reverse=True))

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
- In sorted length function only work
- remaining will not work

$Reversed$

In [6]:
val1=reversed(l1)
for i in val1:
    print(i)

3
2
1

In [47]:
val1=reversed(l2)
for i in val1:
    print(i)

cherry
banana
apple

In [48]:
val1=reversed(l3)
for i in val1:
    print(i)

b
a
3
2
1

In [49]:
val1=reversed(l4)
for i in val1:
    print(i)

(20+30j)
10.9
true
c
b
a
3
2
1

$concadination$

In [51]:
l1+l2

[1, 2, 3, 'apple', 'banana', 'cherry']

In [55]:
l2+l1

['apple', 'banana', 'cherry', 1, 2, 3]

$in$

In [56]:
s1='python'
for i in s1:
    print(i)

p
y
t
h
o
n

In [57]:
for i in l1:
    print(i)

1
2
3

$index$

In [ ]:
-6 -5 -4 -3 -2 -1
P  Y  T  H  O  N
0  1  2  3  4  5

In [61]:
l2[0],l2[1],l2[2]

('apple', 'banana', 'cherry')

In [62]:
l1[0],l1[1],l1[2]

(1, 2, 3)

In [64]:
l3[0],l3[1],l3[2],l3[3],l4[4]

(1, 2, 3, 'a', 'b')

In [70]:
for i in range(len(l2)):
    print(i,l2[i])

0 apple
1 banana
2 cherry

In [71]:
for i in range(len(l2)):
    print("the positive index of {} is {}".format(l2[i],i))

the positive index of apple is 0
the positive index of banana is 1
the positive index of cherry is 2

In [82]:
for i in range(len(l2)):
    print("the negitive index of {} is {}".format(l2[i],i-3))

the negitive index of apple is -3
the negitive index of banana is -2
the negitive index of cherry is -1

In [90]:
for i in range(len(l2)):
    print("the negitive index of {} and the positive index of {} for {}".format(i,l2[i],i-3))

the negitive index of 0 and the positive index of apple for -3
the negitive index of 1 and the positive index of banana for -2
the negitive index of 2 and the positive index of cherry for -1

$strings are immutable$

$slice$

In [ ]:
-16 -15 -14 -13 -12 -11  -10  -9  -8  -7  -6  -5   4  -3     -2      -1    
 1 , 2,  3,  4,  5,  'A','B' ,'C','D','E',100,200,300,400,'Apple','Banana'
 0   1   2   3   4    5   6     7  8   9  10   11  12  13    14    15

In [101]:
list1= [1,2,3,4,5,'A','B' ,'C','D','E',100,200,300,400,'Apple','Banana']
print(list1[3:14:2])
print(list1[3:14:-2])
print(list1[3:-14:2])
print(list1[3:-14:-2])
print(list1[-3:-14:-2])
print(list1[-3:14:2])
print(list1[-3:-14:2])
print(list1[::])
print(list1[::-1])

[4, 'A', 'C', 'E', 200, 400]
[]
[]
[4]
[400, 200, 'E', 'C', 'A', 4]
[400]
[]
[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E', 100, 200, 300, 400, 'Apple', 'Banana']
['Banana', 'Apple', 400, 300, 200, 100, 'E', 'D', 'C', 'B', 'A', 5, 4, 3, 2, 1]

In [99]:
for i in range(len(list1)):
    print("the positive index of {}  and the negitive index of {} for {}".format(i,list1[i],i-16))

the positive index of 0  and the negitive index of 1 for -16
the positive index of 1  and the negitive index of 2 for -15
the positive index of 2  and the negitive index of 3 for -14
the positive index of 3  and the negitive index of 4 for -13
the positive index of 4  and the negitive index of 5 for -12
the positive index of 5  and the negitive index of A for -11
the positive index of 6  and the negitive index of B for -10
the positive index of 7  and the negitive index of C for -9
the positive index of 8  and the negitive index of D for -8
the positive index of 9  and the negitive index of E for -7
the positive index of 10  and the negitive index of 100 for -6
the positive index of 11  and the negitive index of 200 for -5
the positive index of 12  and the negitive index of 300 for -4
the positive index of 13  and the negitive index of 400 for -3
the positive index of 14  and the negitive index of Apple for -2
the positive index of 15  and the negitive index of Banana for -1

In [9]:
list1=[1,2,3,['A','B']]
print(len(list1))
ol=list1[3]
print(ol)
print(ol[1])

4
['A', 'B']
B
B

In [11]:
list1[3][1]

'B'

In [22]:
list2=[['Apple','Banana']]
print(len(list2))
print(list2[0])
print(list2[0][1])
print(list2[0][0])

1
['Apple', 'Banana']
Banana
Apple

In [42]:
list3=[['A','B',[1,20]]]
print(len(list3))
print(list3[0])
print(list3[0][2])
print(list3[0][2][1])

1
['A', 'B', [1, 20]]
[1, 20]
20

In [52]:
list3=['hyd',['A','B',[1,20]]]
print(len(list3))
list3[0]

2

'h'

In [66]:
list7=[[[[[[[['cherry',['apple']]]]]]]]]
list7[0][0][0][0][0][0][0][1][0]

'apple'

In [75]:
l1=['hyd','mumbai','bhopal','chennai']
#print the element which are having len of charcter >5
for i in l1:
    if len(i)>5:
        print(i)

mumbai
bhopal
chennai

In [83]:
l1=['hyd','mumbai','bhopal','chennai']
#print all upper cases
for i in l1:
    print(i.upper())

HYD
MUMBAI
BHOPAL
CHENNAI

In [95]:
l1=l1=['hyd','mum#bai','bh#opal','chennai']
#retrive the elements which are not having #
for i in l1:
    if "#"  not in i:
        print(i)

hyd
chennai

In [121]:
str1='hello my name is python'
#identify the max len word
#min len of word
print(max(str1.split()),min(str1.split()))
l1=str1.split()
print(max(l1,key=len),min(l1,key=len))
print(max(l1,key=ascii),min(l1,key=ascii))

python hello
python my
python hello

**iterable**
- if you  able to print char or elemnents using for loop
- list,string,tuple,dictionaries

In [156]:
qns=['who is pm of india?','what is capital of india?','no of states in india','who is the capitain of ict']
ans=['modi','delhi','29','rohit sharma']
marks=0
for i in range(len(qns)):
    print(qns[i])
    answer=input('enter the answer:')
    if answer.casefold()==ans[i].casefold():
        marks+=1
print('your total obtained marks is:',marks)3

who is pm of india?
enter the answer:modi
what is capital of india?
enter the answer:delhi
no of states in india
enter the answer:29
who is the capitain of ict
enter the answer:rohit sharma
your total obtained marks is: 4

$08-02-2024$

In [1]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort'

$clear$

In [5]:
list1=[1,2,3,4]
list1.clear()
list1

[]

$copy$

In [7]:
l1=['A','B','C']
l2=l1.copy()
l1.clear()
l1,l2

([], ['A', 'B', 'C'])

$pop-remove$

In [8]:
l1=['a','b','c',1,2,3]
l1

['a', 'b', 'c', 1, 2, 3]

In [9]:
l1.pop()
#pop will delete the 
-

3

In [12]:
l1=['a','b','c',1,2,3,100]
l1.pop('a')

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
l1.pop()#remove the last value index=-1
l1.pop(0)#remove thre first element
l1.pop(index=0)# it will give the error
l1.pop(100)#if 100th index not there :index error
l1.pop('a')#type error
l1.pop([1,2])

In [22]:
l1=['A','B','C',1,2,'A',3,100]
l1.remove('A')
l1

['B', 'C', 1, 2, 'A', 3, 100]

In [ ]:
####################pop#####################
# manually we are counting the index of element
#that index we are passing through app
#so that it is removing that particular element

#draw back: we are manuallyb counting
#draw back: we can over ride by using index

####################remove#########################
#remover is taking only direct value ,no need to provide the index
draw back

$index$

In [31]:
l1=['A','B','C',1,2,3,100,200,'APPLE','BALL']
# I WANT TO DELETE ELEMENT":3 USING POP
#L1.POP(5)
i=l1.index('BALL')
l1.pop(i)
l1

['A', 'B', 'C', 1, 2, 3, 100, 200, 'APPLE']

In [55]:
l1=['A','B','C',1,2,3,100,200,'A',400,500,'A','APPLE']
i1=l1.index('A')
i2=l1.index('A',i1+1)
i3=l1.index('A',i2+1)
print(i1,i2,i3)

0 8 11

In [57]:
l1=['A','B','C',1,2,3,100,200,'A',400,500,'A','APPLE']
del(l1[5])
l1

['A', 'B', 'C', 1, 2, 100, 200, 'A', 400, 500, 'A', 'APPLE']

$append-extend-insert$

In [61]:
l1=[100,200]
l1.append(300)
l1.append('mani')
l1

[100, 200, 300, 'mani']

In [62]:
l1=[]
l1.append(100)
l1.append(200)
l1.append(300)
l1

[100, 200, 300]

In [67]:
l1=['Hyd','Mumbai','Chennai']
#print the element which are having len>3
l2=[]
for i in l1:
     if len(i)>3:
        l2.append(i)
l2

['Mumbai', 'Chennai']

In [72]:
l1=['hyd','mumbai','delhi']
l=[]
for i in l1:
    l.append(i.capitalize())
l

['Hyd', 'Mumbai', 'Delhi']

In [79]:
l1=['hyd','mum#bai','chenn#ai']
l=[]
for i in l1:
    if '#' in i:
        l.append(i)       
l

['mum#bai', 'chenn#ai']

In [17]:
s='hello hai how are you'
#get the sum of all the indexes of 'a' letter 
#iterate it 
#extract the indexes of 'a'
#and save in a list
l=[]
for i in range(len(s)):
    if s[i]=='a':
        print(s[i])

a
a

In [18]:
#wap ask the user get 10 random nos
#even list  odd list
#append even values in list
#odd values in odd list


import random
e_list=[]
o_list=[]
for i in range(10):
    num=random.randint(10,50)
    if num%2==0:
        e_list.append(num)
    else:
        o_list.append(num)
e_list,o_list

([38, 18, 40, 12, 48, 30, 24], [31, 19, 19])

$Extend$

In [94]:
l1=[1,2,3,4]
l2=['A','B','C']
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C']
['A', 'B', 'C']

In [95]:
l1=[1,2,3,4]
l2=['A','B','C']
l2.extend(l1)
print(l1)
print(l2)

[1, 2, 3, 4]
['A', 'B', 'C', 1, 2, 3, 4]

In [97]:
l1=[1,2,3,4]
l2=['A','B','C']
print(l1+l2)
print(l1)
print(l2)

[1, 2, 3, 4, 'A', 'B', 'C']
[1, 2, 3, 4]
['A', 'B', 'C']

In [105]:
l1=[1,2,3,4]
l2='python'
l1.append(l2)
l1

[1, 2, 3, 4, 'python']

$reverse-sort$`

In [20]:
l1=[1,2,3,4,100,200]
l1.reverse()   # it giving the list values in reverse direction
l1

[200, 100, 4, 3, 2, 1]

In [23]:
l1=[1,2,3,4,100,90]
l1.sort()    # unorder list values gives  in a specific orderorder 
l1

[1, 2, 3, 4, 90, 100]

$count$

In [7]:
l1=['a','a','a']
l1.count('a')

3

In [2]:
s1='can can you canner can not can you buy can'
l=s1.split()
l

['can', 'can', 'you', 'canner', 'can', 'not', 'can', 'you', 'buy', 'can']

In [18]:
l=s1.split()
m=[]
for i in l:
    if i not in m:
        print(i,l.count(i))

can 5
can 5
you 2
canner 1
can 5
not 1
can 5
you 2
buy 1
can 5

$word-frequency$

In [19]:
list_word=s1.split()
l1=[]
for word in list_word:
    if word not in l1:
        print(word,":",list_word.count(word))
        l1.append(word)

can : 5
you : 2
canner : 1
not : 1
buy : 1

$insert$

In [29]:
l1=[1,2,3,4]
l1.insert(3,'A')
l1

[1, 2, 3, 'A', 4]

$append$

In [31]:
l1=['hyd','mumbai','chennai','benguluru']
l2=[]
for i in l1:
    if len(i)>5:
        l2.append(i)
l2

['mumbai', 'chennai', 'benguluru']

In [34]:
#create the list of sqare of 1 to 10 numbers
l=[]
for i in range(1,11):
    l.append(i*i)
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

$List- comprehenshion$

pattern-1:

In [2]:
num=[i*i for i in range(1,11)]
num


#num=[<output> <for loop with out :>]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
l1=['hyd','mumbai']

m=[i.capitalize() for i in l1]
m

['Hyd', 'Mumbai']

$pattern-2$

**for  and if condition**

In [49]:
l1=['hyd','mumbai','chennai','benguluru']
l2=[i for i in l1 if len(i)>5]
l2

['mumbai', 'chennai', 'benguluru']

$pattern-3$
**for-if else**

In [14]:
l=[]
for i in range(1,10):
    if i%2==0:
        l.append(f'even{i}')
    else:
        l.append(f'odd{i}')
        
        
l
#[<if_output> <if_condition> else<else_output> <forloop>]

s=[f'even:{i}' if i%2==0 else f'odd:{i}' for i in range(1,10)]
s

['odd:1',
 'even:2',
 'odd:3',
 'even:4',
 'odd:5',
 'even:6',
 'odd:7',
 'even:8',
 'odd:9']